@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap');

@font-face {
    font-family: 'Monument Extended';
    src        : url(/fonts/MonumentExtended/MonumentExtended-Regular.otf);
    font-weight: lighter;
    font-style: normal;
    font-display: swap; /* Otras opciones son 'fallback' o 'optional' */
}


* {
    margin         : 0;
    padding        : 0;
    box-sizing     : border-box;
    text-decoration: none;
    font-family    : 'Monument Extended', sans-serif;
    font-weight    : lighter;
}

body {
    width     : 100%;
    height    : 100vh;
    background: url(/img/bg.jpg) no-repeat center center/cover;
}

.wrapper {
    position: fixed;
    width   : 100%;
    height  : 100vh;
}

.navbar {
    position       : fixed;
    width          : 6%;
    height         : 100vh;
    background     : #DDC76C;
    display        : flex;
    align-items    : center;
    justify-content: center;
    border-right   : 2.4px solid antiquewhite;
}

.nav-toggle {
    cursor        : pointer;
    transform     : rotate(-90deg);
    color         : antiquewhite;
    font-weight   : lighter;
    text-transform: uppercase;
}

.nav {
    position   : fixed;
    width      : 0%;
    height     : 100%;
    overflow   : hidden;
    display    : flex;
    align-items: center;
    left       : 6%;
    background : #353131;
}

.nav-items {
    margin: 60px;
}

.nav-item {
    position : relative;
    font-size: 120px;
}

.nav-item a {
    position      : relative;
    top           : 140px;
    color         : #DDC76C;
    text-transform: uppercase;
    font-size     : 140px;
    font-weight   : lighter;
    letter-spacing: -8px;
    transition    : 1s;
}

.nav-item-wrapper::after {
    content   : "";
    position  : absolute;
    top       : 128px;
    left      : 0;
    width     : 110%;
    height    : 100%;
    background: #353131;
    margin    : 0 auto;
    transition: 1s;
}

.nav-item::after {
    content   : "";
    position  : absolute;
    top       : 45%;
    left      : 0;
    width     : 0%;
    height    : 2.8px;
    background: antiquewhite;
    transition: 0.3s;
}

.nav-item:hover::after {
    width: 100%;
}

/**-------------MEDIA QUERIES--------------*/

@media (max-width:990px) {
    body {
        overflow: hidden;
    }

    .navbar {
        width: 16%;
    }

    .nav {
        left: 16%;
    }

    .nav-items {
        margin: 20px;
    }

    .nav-item a {
        font-size     : 60px;
        letter-spacing: 0;
    }

    .nav-item::after {
        display: none;
    }

}

@media (max-width:550px) {
    .nav-items {
        margin: 10px;
    }

    .nav-item a {
        font-size     : 40px;
        letter-spacing: 0;
    }
}